* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --container-width: 350px;
  --container-height: 600px;

  --gray-div: #a5a5a5;
  --orange-div: #f1a33c;
  --dark-gray-div: #333333;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  background-image: url(image/iphone-15-plus-gf-2560x1440.jpg);
  background-size: cover;
  
}

.container {
  height: var(--container-height);
  width: var(--container-width);
  background-color: black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 5fr;
  padding: 0 15px 15px;
  color: white;
  border-radius: 2rem;
}

.result {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 1rem;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.box {
  background-color: var(--dark-gray-div);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .boxes .box:nth-child(-n+3) aynı sonucu verir */
.boxes .box:nth-child(1),
.boxes .box:nth-child(2),
.boxes .box:nth-child(3) {
  background-color: var(--gray-div);
  color: black;
}

.boxes .box:nth-of-type(4n) {
  background-color: var(--orange-div);
}

.box0 {
  grid-column: 1/3;
  border-radius: 2rem;
  justify-content: start;
  padding: 1rem;
  
}

.box:hover {
  opacity: 0.5;
}
